<% if logged_in? %>
  <a href="/photos/new">New Photo</a>
  <a href="/videos/new">New Video</a>
<% end %>

<% @videos.each do |video| %>

  <h2>
    <a href="/videos/<%= video.id %>"><%= video.title %></a>
    <%= video.video_url %>
  </h2>

<% end %>

<% @photos.each do |photo| %>

  <h2>
    <a href="/photos/<%= photo.id %>"><%= photo.title %></a>
    <img src="<%= photo.photo_url %>" alt="">
  </h2>

<% end %>
