
<div class="show-wrapper">
  <section class="show-header">
    <div class="post-top">
      <h2><%= @photo.title %></h2>

      <!-- If the user id is the same as the current user, the edit button -->
      <!-- will be displayed. -->
      <% if @photo.user_id == current_user.id %>
        <a href="/photos/<%=@photo.id%>/edit" class="edit-button">Edit</a>
      <% else %>
        <p></p>
      <% end %>

      <h4>By <a href="/user_profile/<%= @photo.user.id%>"><%= @photo.user.username %></a></h4>
    </div>

    <img src="<%= @photo.image.url %>" alt="">
    <p><%= @photo.description %></p>
  </section>

  <section class="comment-post">
    <form action="/comments/photo" method="post">
      <input type="hidden" name="photo_id" value="<%= @photo.id %>">
      <textarea name="body"></textarea>
      <button>Post Comment</button>
    </form>

    <!-- Delete button displayed if the user is the same as the current user -->
    <% if @photo.user_id == current_user.id %>
      <div class="delete-button">
        <form action="/photos/<%=@photo.id%>/delete" method="post">
          <input type="hidden" name="_method" value="DELETE">
          <button>Delete Post</button>
        </form>
      </div>
    <% else %>
      <p></p>
    <% end %>

    <section class="comments">
      <p>Comments</p>

      <% if @comments.empty? %>
        <p>Be the first to comment.</p>
      <% end %>

      <!-- Iterates through and displays comments -->
      <% @comments.each do |comment| %>
        <h5><%= comment.user.username %></h5>
        <p><%= comment.body %></p>
      <% end %>
    </section>
  </section>
</div>
