<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/stylesheets/profile.css">
</head>
<body>

  <div class="profile-header">
    <h2><%= @user.username %></h2>
    <h3> Posts: <%= @user_photos.count.to_i + @user_videos.count.to_i%></h3>
  </div>

  <% @user_photos.each do |photo| %>
    <div class="user-posts">
      <h4><a href="/photos/<%= photo.id %>"><%= photo.title %></a></h4>
      <h5>in <%= photo.sport.name %></h5>
      <img src="<%= photo.image.url %>" alt="">
    </div>
  <% end %>

  <% @user_videos.each do |video| %>
    <div class="user-posts">
      <h4><a href="/videos/<%= video.id %>"><%= video.title %></a></h4>
      <h5>in <%= video.sport.name %></h5>
      <video width="320" height="170" src="<%= video.video.url %>" controls></video>
    </div>
  <% end %>

</body>
</html>
