
<section class="show-header">
  <h2><%= @video.title %></h2>
  <h4>By <%= @video.sport.name %> </h4>

  <a href="/videos/<%=@video.id%>/edit">Edit</a>
</section>

<%= @video.video_url %>

<form action="/videos/<%=@video.id%>/delete" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <button>Delete</button>
</form>

<form action="/comments/video" method="post">
  <input type="hidden" name="video_id" value="<%= @video.id %>">
  <textarea name="body" rows="8" cols="40"></textarea>
  <button>Post Comment</button>
</form>

<% @comments.each do |comment| %>
  <p><%= comment.body %></p>
<% end %>
