<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/stylesheets/show.css">
</head>
<body>

  <section class="show-header">
    <div class="post-top">
      <h2><%= @video.title %></h2>
      <h4>By <a href="/user_profile/<%= @video.user.id%>"><%= @video.user.username %></a> </h4>

      <!-- If the post user id equals the current user then edit button is
      displayed. -->
      <% if @video.user_id == current_user.id %>
        <a href="/videos/<%=@video.id%>/edit" class="edit-button">Edit</a>
      <% else %>
        <p></p>
      <% end %>
    </div>

    <video width="500" height="250" src="<%= @video.video.url %>" controls></video>
  </section>

  <section class="comment-post">
    <form action="/comments/video" method="post">
      <input type="hidden" name="video_id" value="<%= @video.id %>">
      <textarea name="body" rows="8" cols="40"></textarea>
      <button>Post Comment</button>
    </form>
  </section>

  <!-- Displays delete button on page if user post id matches current user -->
  <% if @video.user_id == current_user.id %>
    <div class="delete-button">
      <form action="/videos/<%=@video.id%>/delete" method="post">
        <input type="hidden" name="_method" value="DELETE">
        <button>Delete Post</button>
      </form>
    </div>
    <% else %>
      <p></p>
    <% end %>

  <section class="comments">
    <p>Comments</p>

    <!-- Displays all comments -->
    <% @comments.each do |comment| %>
      <h5><%= comment.user.username %></h5>
      <p><%= comment.body %></p>
    <% end %>
  </section>


</body>
</html>
